.filter-movies {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    grid-area: filter;
}

.filter-movies-header {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .filter-movies-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 380px) {
    .filter-movies {
        padding: var(--padding-s);
    }
}

.filter-movies-header-formname {
    font: var(--font--title-xl-bold);
}

.filter-movies-form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
    margin-top: var(--margin-xxxxl);
    margin-bottom: var(--margin-xl);
}

.filter-movies-genres,
.filter-movies-release,
.filter-movies-sortby,
.filter-movies-ratings {
    width: var(--form-element-width);
}

.filter-movies-sortby {
    align-self: flex-end;
}

@media screen and (max-width: 640px) {
    .filter-movies-sortby {
        margin-top: calc(-1 * var(--margin-s));
    }
    .filter-movies:has(.filter-movies-form_hide) .filter-movies-sortby {
        margin-top: calc(-1 * var(--margin-mxl));
    }
}

@media screen and (max-width: 640px) {
    .filter-movies {
        width: 100%;
    }
    .filter-movies-form_hide {
        height: 0px;
        overflow: hidden;
    }
}
