.card-movie-byid-description {
    display: flex;
    gap: var(--gap-m);
    color: var(--color-black);
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: left;
    width: 100%;
}

.card-movie-byid-description-poster {
    align-self: center;
}

.card-movie-byid-description-poster img {
    display: block;
    width: var(--poster-byid-width);
    height: var(--poster-byid-height);
}

.card-movie-byid-loading-poster {
    animation: card-movie-loading-poster var(--loading-behavior);
    background: var(--loading-gradient);
    min-height: var(--poster-byid-height);
}

@keyframes card-movie-loading-poster {
    from {
        background-position-y: calc(-1 * var(--poster-byid-height));
    }
    to {
        background-position-y: var(--poster-byid-height);
    }
}

@media screen and (max-width: 660px) {
    .card-movie-byid-description {
        flex-direction: column;
    }

    .card-movie-byid-description-poster img {
        width: var(--poster-byid-width-660);
        height: var(--poster-byid-height-660);
    }

    .card-movie-byid-loading-poster {
        min-height: var(--poster-byid-height-660);
    }

    @keyframes card-movie-loading-poster {
        from {
            background-position-y: calc(-1 * var(--poster-byid-height-660));
        }
        to {
            background-position-y: var(--poster-byid-height-660);
        }
    }
}

.card-movie-byid-description-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
}

.card-movie-byid-description-originalTitle {
    font: var(--font--title-s-semibold);
    color: var(--color-purple-500-main);
}

.card-movie-byid-description-release {
    font: var(--font--text-base-m-regular);
    color: var(--color-gray-500);
}

.card-movie-byid-description-rating {
    font: var(--font--text-base-m-bold);
    display: flex;
    align-items: center;
    gap: var(--gap-xxxs);
}

.card-movie-byid-description-rating-count {
    font: var(--font--text-base-m-regular);
    color: var(--color-gray-500);
    margin-left: var(--gap-xxxs);
}

.card-movie-byid-description-genres-etc {
    font: var(--font--text-base-m-regular);
    color: var(--color-gray-500);
    flex-grow: 1;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--gap-s);
    align-content: flex-end;
}

.card-movie-byid-description-genres-etc div:nth-child(even) {
    color: var(--color-black);
    padding-left: var(--padding-sm);
}
