.rating-icon-noAction {
    width: var(--width-ml);
    height: var(--height-ml);
    stroke: var(--color-yellow);
    fill: var(--color-yellow);
}

.rating-icon {
    width: var(--width-ml);
    height: var(--height-ml);
}

.rating-icon {
    stroke: var(--color-gray-300);
    fill: var(--color-gray-300);
}

.rating-icon-filled {
    stroke: var(--color-yellow);
    fill: var(--color-yellow);
}
