.popover-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0/0.5);
}

.popover-wrapper::backdrop {
    background-color: rgba(0 0 0/0.5);
}

.user-rating {
    position: fixed;
    height: max-content;
    inset: 0px;
    margin: auto;
    background-color: var(--color-white);
    margin: auto;
    width: 100%;
    max-width: var(--user-rating-modal-width);
    border: none;
    border-radius: var(--border-radius-m);
    padding: var(--padding-ml);
    text-align: left;
    font: var(--font--text-base-m-regular);
}

.user-rating-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.user-rating-header {
    padding-top: var(--padding-xxs);
    padding-bottom: var(--padding-ml);
    align-content: center;
    border-bottom: 1px solid var(--color-gray-500);
    position: relative;
    font: var(--font--text-base-m-regular);
}

.user-rating-header > button {
    font: inherit;
}

.user-rating-header-close {
    position: absolute;
    right: -5px;
    top: 2px;
    stroke: var(--color-gray-500);
}

.user-rating-header-close:hover {
    stroke: var(--color-purple-400);
}

.user-rating-header-close button:active {
    stroke: var(--color-purple-600);
}

.user-rating-name {
    font: var(--font--text-base-m-bold);
}

.user-rating-stars {
    display: flex;
    justify-content: space-between;
}

.user-rating-buttons {
    display: flex;
}

.user-rating-buttons button {
    padding: var(--padding-block-xs) var(--padding-inline-l);
    height: var(--height-xl);
    background-color: var(--color-purple-500-main);
    border-radius: var(--border-radius-m);
    font: var(--font--text-base-s-semi);
    color: var(--color-white);
    cursor: pointer;
}
.user-rating-buttons button:last-child {
    background-color: var(--color-white);
    color: var(--color-purple-500-main);
}

.user-rating-buttons button:hover {
    background-color: var(--color-purple-400);
}

.user-rating-buttons button:last-child:hover {
    color: var(--color-purple-400);
    background-color: var(--color-white);
}

.user-rating-buttons button:active {
    background-color: var(--color-purple-600);
}

.user-rating-buttons button:last-child:active {
    color: var(--color-purple-600);
    background-color: var(--color-white);
}
