.card-movie-description {
    display: flex;
    gap: var(--gap-m);
    color: var(--color-black);
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: left;
}

@media screen and (max-width: 380px) {
    .card-movie-description {
        flex-direction: column;
        width: 100%;
    }
    .card-movie-description-poster {
        display: flex;
        justify-content: center;
    }
}

.card-movie-description-poster img {
    display: block;
    width: 119px;
    height: 170px;
}

.card-movie-description-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
}

.card-movie-description-originalTitle {
    font: var(--font--title-s-semibold);
    color: var(--color-purple-500-main);
}

.card-movie-description-release {
    font: var(--font--text-base-m-regular);
    color: var(--color-gray-500);
}

.card-movie-description-rating {
    font: var(--font--text-base-m-bold);
    display: flex;
    align-items: center;
    gap: var(--gap-xxxs);
}

.card-movie-description-rating-count {
    font: var(--font--text-base-m-regular);
    color: var(--color-gray-500);
    margin-left: var(--gap-xxxs);
}

.card-movie-description-genres {
    font: var(--font--text-base-m-regular);
    color: var(--color-gray-500);
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.card-movie-description-genres span {
    color: var(--color-black);
}

.card-movie-loading-poster {
    animation: card-movie-loading-poster 3s linear infinite;
    background: linear-gradient(0deg, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
    min-height: 170px;
}

@keyframes card-movie-loading-poster {
    from {
        background-position-y: -170px;
    }
    to {
        background-position-y: 170px;
    }
}
