.movies-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: var(--gap-hxl);
}

.movies-page-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-m);
}

@media screen and (max-width: 750px) {
    .movies-page-cards {
        display: flex;
        flex-wrap: wrap;
    }
}

.movies-page-cards:has(.empty-found) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.movies-page-cards:has(.empty-search) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
