.card-movie-empty {
    display: flex;
    justify-content: space-between;
    padding: var(--card-movie--padding);
    background-color: var(--color-white);
    border-radius: var(--border-radius-l);
    gap: var(--gap-xxs);
    height: 100%;
}

a:has(.card-movie-empty) {
    text-decoration: none;
    outline: none;
    border-radius: var(--border-radius-l);
}

a:has(.card-movie-empty):focus .card-movie-empty {
    outline: var(--outline-default);
}
