.paginate-dots {
  box-sizing: border-box;
  padding: var(--padding-zero) var(--padding-s);
  width: var(--width-l);
  height: var(--height-l);
  display: flex;
  place-content: center;
  -webkit-user-select: none;
  user-select: none;
}
