.my-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xxs);
    position: relative;
}

.my-select-label {
    font: var(--font--text-base-m-bold);
}

.my-select-select {
    font: var(--font--subtitle-s);
    align-items: center;
    height: var(--height-xxl);
    padding-inline: var(--padding-inline-m);
    padding-block: var(--padding-block-s);
    padding-right: var(--padding-l);
    border: var(--my-select-default--border);
    border-radius: var(--border-radius-m);
    width: 100%;
    cursor: pointer;
    background-color: var(--color-white);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.my-select-select-option {
    height: var(--height-l);
    font: var(--font--text-base-m-regular);
}

.my-select-select-empty {
    color: var(--color-gray-500);
}

.my-select-select-empty:focus {
    color: var(--color-black);
}

.my-select-select-filled {
    color: var(--color-black);
    border: var(--my-select-filled--border);
}

.my-select-select:hover {
    border: var(--my-select-hover--border);
}

.my-select-select:focus {
    border: var(--my-select-focus--border);
}

.my-select-select:focus option:first-child {
    display: none;
}

.my-select-arrow {
    position: absolute;
    right: 1px;
    top: 36px;
    background-color: transparent;
    padding-right: var(--padding-sm);
    pointer-events: none;
    mix-blend-mode: multiply;
}

.my-select-arrow-up {
    transform: rotateX(180deg);
}

.my-select-select-error {
    cursor: auto;
    color: var(--color-error);
    border: var(--my-select-default--border) !important;
}

.my-select-select-loading {
    cursor: wait;
    animation: loading-select var(--loading-behavior);
    background: var(--loading-gradient);
}

@keyframes loading-select {
    from {
        background-position-y: calc(-1 * var(--height-xxl));
    }
    to {
        background-position-y: var(--height-xxl);
    }
}
