.movie-byid-page {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    align-items: center;
    width: 100%;
    max-width: var(--movie-byid-page-width);
    margin-top: calc(-1 * var(--margin-sxs));
    margin-bottom: var(--margin-hxxxl);
}

.movie-byid-page-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

.movie-byid-page-card-path {
    color: var(--color-black);
    display: flex;
    align-self: flex-start;
    gap: var(--gap-ms);
    font: var(--font--subtitle-s);
}

.movie-byid-page-card-path div {
    color: var(--color-purple-500-main);
}
