.arrow-select-icon {
    width: var(--width-m);
    height: var(--height-m);
    background-color: var(--color-white);
}

.arrow-select-icon svg {
    stroke: var(--color-gray-500);
}

.my-select:hover .arrow-select-icon svg {
    stroke: var(--color-purple-500-main);
}

.my-select:has(.arrow-select-icon):has(select:focus) svg {
    stroke: var(--color-purple-500-main);
}
