.my-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
}

.my-button:hover {
  cursor: pointer;
}

.my-button:focus {
  outline: var(--outline-default);
}