.mainpage {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    max-width: var(--page-max-width);
    margin-inline: auto;
}

.outlet {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--outlet-padding);
    min-height: 100vh;
    align-items: flex-start;
}

.outlet:has(.empty-found) .movie-byid-page-card-path {
    display: none;
}

@media screen and (max-width: 1100px) {
    .mainpage {
        grid-template-columns: var(--sidebar-width-1100) 1fr;
    }
    .outlet {
        padding: var(--outlet-padding-1100);
    }
}

@media screen and (max-width: 1000px) {
    .mainpage {
        display: flex;
        flex-direction: column;
    }
    .outlet {
        padding: var(--outlet-padding-1000);
    }
}

@media screen and (max-width: 660px) {
    .outlet {
        padding: var(--outlet-padding-600);
    }
}

@media screen and (max-width: 360px) {
    .outlet {
        padding: 24px 0px;
    }
}
