.search-movies {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background: #ffffff;
  padding: var(--search--padding);
  border: var(--search-default--border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  grid-area: search;
  outline: none;
  cursor: text;
}

.search-movies:hover {
  border: var(--search-hover--border);
}

.search-movies:has(input:focus) {
  border: var(--search-focus--border);
}

.search-movies:has(input:not([value=""]):not(:focus)):not(:hover) {
  border: var(--search-filled--border);
}
