.search-movies {
    box-sizing: border-box;
    width: 100%;
    height: var(--height-xxxl);
    background: var(--color-white);
    padding: var(--search--padding);
    border: var(--search-default--border);
    border-radius: var(--border-radius-m);
    display: flex;
    align-items: center;
    grid-area: search;
    outline: none;
    cursor: text;
}

.search-movies:hover {
    border: var(--search-hover--border);
}

.search-movies:has(input:focus) {
    border: var(--search-focus--border);
}

.search-movies:has(input:not([value=""]):not(:focus)):not(:hover) {
    border: var(--search-filled--border);
}
