.card-movie-loading div {
    animation: card-movie-loading var(--loading-behavior);
    background: var(--loading-gradient);
    min-height: var(--card-height);
}

.movie-byid-page .card-movie-loading div {
    animation: movie-page-card-loading var(--loading-behavior);
    min-height: var(--card-byid-height);
}

@keyframes card-movie-loading {
    from {
        background-position-y: calc(-1 * var(--card-height));
    }
    to {
        background-position-y: var(--card-height);
    }
}

@keyframes movie-page-card-loading {
    from {
        background-position-y: calc(-1 * var(--card-byid-height));
    }
    to {
        background-position-y: var(--card-byid-height);
    }
}
