.button-apply-filter button {
    padding: var(--button-padding);
    width: 100%;
    height: var(--height-xl);
    background-color: var(--color-purple-500-main);
    border-radius: var(--border-radius-m);
    font: var(--font--subtitle-s);
    color: var(--color-white);
    cursor: pointer;
}
.button-apply-filter button:hover {
    background-color: var(--color-purple-400);
}

.button-apply-filter button:active {
    background-color: var(--color-purple-600);
}
