.error-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
}

.error-search-text {
    font: var(--font--title-s-semibold);
    color: var(--color-error);
}
