.paginate-page-button {
    display: contents;
}

.paginate-page-button button {
    font: var(--font--text-paginate);
    box-sizing: border-box;
    padding: var(--padding-zero) var(--padding-s);
    min-width: var(--width-l);
    width: min-content;
    height: var(--height-l);
    background: var(--color-white);
    border-radius: var(--border-radius-s);
    display: flex;
    place-content: center;
    cursor: pointer;
    color: var(--color-black);
}

.paginate-page-button button:hover {
    outline: var(--outline-default);
}

.paginate-page-button_active button {
    background: var(--color-purple-500-main);
    color: var(--color-white);
}

.paginate-page-button_active button:hover {
    outline: none;
    cursor: inherit;
}

.paginate-page-button_active button {
    cursor: auto;
}

.paginate-page-button_disabled button,
.paginate-page-button_disabled button:hover {
    color: var(--color-gray-200);
    cursor: auto;
    outline: none;
}

.paginate-page-button_disabled svg {
    fill: var(--color-gray-200);
}
