.search {
    width: 100%;
    display: flex;
    gap: var(--gap-xxs);
    align-items: center;
}

.search button {
    padding: var(--padding-block-sxs) var(--padding-inline-l);
    width: var(--search-button-width);
    height: var(--height-l);
    background-color: var(--color-purple-500-main);
    border-radius: var(--border-radius-m);
    font: var(--font--text-base-s-semi);
    color: var(--color-white);
    cursor: pointer;
}

.search button:hover {
    background-color: var(--color-purple-400);
}

.search button:focus {
    outline: var(--outline-if-bg-main);
}

.search button:active {
    background-color: var(--color-purple-600);
}

.search input {
    font: var(--font--subtitle-s);
    width: calc(100% - var(--search-button-width));
    border: none;
    outline: none;
    padding: var(--padding-zero);
}

.search input::placeholder {
    color: var(--color-gray-500);
}
