.project-logo-name {
    display: flex;
    height: var(--height-lxl);
    align-items: center;
    gap: var(--gap-s);
    color: var(--color-purple-500-main);
}

@media screen and (max-width: 1100px) {
    .project-logo-name {
        height: var(--height-xxxxxl);
        flex-direction: column;
        justify-content: center;
        color: var(--color-purple-500-main);
    }
}
