.empty-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-m);
  width: 100%;
}

.empty-found-text {
  font:var(--font--title-s-semibold);
  color: var(--color-black);
  word-break: break-word;
}
