.form-ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 284px;
  gap: 8px;
}

.form-ratings-inputs {
  display: flex;
  gap: 8px;
  width: 100%;
}

.form-ratings-label {
  font: var(--font--text-base-m-bold);
  color: var(--color-black);
}
