.paginate {
    display: flex;
    gap: var(--gap-xxs);
    margin-bottom: 4px;
    grid-area: paginate;
    width: 100%;
    justify-content: flex-end;
}

.rated-movies .paginate {
    justify-content: center;
}